<div class="container-fluid h-100">
    <div class="row justify-content-center h-100 animate__animated animate__fadeIn">
        <div class="col-md-4 align-self-center">
            <app-card title="Total de usuarios" [data]="total_users"></app-card>
        </div>
        <div class="col-md-4 align-self-center">
            <app-card title="Total de categorias" [data]="total_categorys"></app-card>
        </div>
        <div class="col-md-4 align-self-center">
            <app-card title="Total de productos" [data]="total_productos"></app-card>
        </div>
    </div>
</div>